.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
}
.App .heater_color {
    position: absolute;
    top: 13px;
    left: 85px;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    background-color: rgba(255, 0, 0, 0.5);
}

.App .drag_bar {
    width: 150px;
}
